<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Profile</h2>

<p>Username: <span id="username"></span></p>

<p>Full name:</p>
<input id="full_name">

<p>Birth date:</p>
<input id="birth_date" type="date">

<br>

<button onclick="saveProfile()">Save</button>

<hr>

<h3>Balance: <span id="balance"></span>$</h3>
<h3>Total spent: <span id="spent"></span>$</h3>
<h3>Discount: <span id="discount"></span>%</h3>

<input type="number" id="amount" placeholder="Add money">
<button onclick="addBalance()">Add</button>

<br><br>

<a href="/shop">Shop</a>
<br><br>
<a href="/logout">Logout</a>

<script src="/static/profile.js"></script>

</body>
</html>